@model WebApplication3.Models.course

@{
    ViewBag.Title = "Details";
}

<div class="heading-bg col-md-12" style="padding:0">
    <div class="container" style="padding:0">
        <div class="pull-left">
            <h5 class="" style="color: #878787; font-size: 22px;">Details course</h5>
        </div>
        <div class="pull-right">
            <button class="btn btn-info back-home">
                @Html.ActionLink("Home Page", "Index", "Home")
            </button>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_name)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-success edits">
        @Html.ActionLink("Edit", "Edit", new { id = Model.course_id })
        </button>
        <button class="btn btn-info back-list">
            @Html.ActionLink("Back to List", "Index")
        </button>
</p>
