@model WebApplication3.Models.course

@{
    ViewBag.Title = "Edit";
}

<div class="heading-bg col-md-12" style="padding:0">
    <div class="container" style="padding:0">
        <div class="pull-left">
            <h5 class="" style="color: #878787; font-size: 22px;">Edit Course</h5>
        </div>
        <div class="pull-right">
            <button class="btn btn-info back-home">
                @Html.ActionLink("Home Page", "Index", "Home")
            </button>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.course_id)

        <div class="form-group">
            @Html.LabelFor(model => model.course_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.course_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.course_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-info back-list">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
